<footer class="footer">
    <div class="container">
        <ul>
            <li><a data-toggle="tooltip" title="Linkedin" href="https://www.linkedin.com/in/jameslattenjr/"><i class="fa-brands fa-linkedin"></i></a></li>
            <li><a href="https://github.com/jamesl1500"><i class="fa-brands fa-square-github"></i></a></li>
            <li><a href="https://twitter.com/jaye_aesthetic"><i class="fa-brands fa-square-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/jaye.aesthetic/"><i class="fa-brands fa-instagram"></i></a></li>

        </ul>
        <h2>Made with <i class="fa-solid fa-heart"></i> in Ohio</h2>
        <h3>Created by James Latten | Copyright &copy; 2022</h3>
    </div>
</footer>