{% extends "layout/base.html" %}
{% block content %}
{% load static %}
<div class="section blog firstSection">
    <div class="container">
        <h3 class="introduction">
            Blog
        </h3>
       <p>Welcome to my blog, this is where I express my thoughts and ideas. 
    </div>
</div>
<div class="section blog secondSection" id="education">
    <div class="container">
        <div class="row">
        {% if post_list|length > 0 %}
            {% for post in post_list %}
                <div class="blogPost col-lg-4">
                    <div class="innerBlogPost">
                        <p class="info">{{ post.created_on }} </p>
                        <h2 class="title">{{ post.title }}</h2>
                        <p class="preview">{{post.content|slice:":200" }}</p>
                        <a href="{% url 'post_detail' post.slug  %}" class="">Read More</a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>
<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/jameslatten/initial-consultation', text: 'Book an Appointment', color: '#ffffff', textColor: '#1a1a1a', branding: undefined }); }</script>
<!-- Calendly badge widget end -->
{% endblock %}