{% extends "layout/base.html" %}
{% block content %}
{% load static %}
<div class="section blog firstSection">
    <div class="container">
        <h3 class="introduction">
            Certs
        </h3>
       <p>These are the certificates and certifications i have that's made me more marketable in the tech world</p>
    </div>
</div>
<div class="section blog secondSection" id="education">
    <div class="container">
        <div class="row">
        {% for cert in certs %}
            <div class="blogPost col-lg-4">
                <div class="innerBlogPost">
                    <p class="info">{{ cert.created_on }} </p>
                    <h2 class="title">{{ cert.cert_title }}</h2>
                    <h4 style="font-weight: bold;">{{ cert.cert_subjects }}</h4>
                    <p class="preview">{{cert.cert_desc| slice:":110" }}...</p>
                    <a href="{{ cert.cert_link }}" class="">Verify</a> /
                    <a href="{% url 'cert_detail' cert.slug  %}" class="">More info</a>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/jameslatten/initial-consultation', text: 'Book an Appointment', color: '#ffffff', textColor: '#1a1a1a', branding: undefined }); }</script>
<!-- Calendly badge widget end -->
{% endblock %}