{% extends "layout/base.html" %}
{% block content %}
{% load static %}

<div class="section firstSection">
    <div class="container">
        <img class="picture" src="{% static 'img/resume_picture.jpg' %}" />
        <h3 class="introduction">
            Hi, I'm James - Web developer, designer, writer, with a passion for writing code and serving the community
        </h3>
        <h4>I'm available for new projects, <a href="https://calendly.com/jameslatten/initial-consultation">schedule an appointment.</a> with me</h4>
        <div class="statement">
            <div class="row">
                <div class="statementMain col-lg-5">
                    <h2>My Mission</h2>
                </div>
                <div class="statementDesc col-lg-7">
                    <p>Create beautiful apps and websites that will change the world for the better. Give my customers a great experience and deliver amazing products to them. Also serve the community in any capacity I can, specifically as an EMT. I have a passion for helping others who are less fortunate than me. </p>
                </div>
            </div>
        </div>
        <div class="statement">
            <div class="row">
                <div class="statementMain col-lg-5">
                    <h2>Specialties</h2>
                </div>
                <div class="statementDesc col-lg-7">
                    <div class="descRows row">
                        <div class="lister leftList col-lg-6">
                            <ul>
                                <li><p>Full-stack Web Dev</p></li>
                                <li><p>Software Dev</p></li>
                                <li><p>Applications Dev</p></li>
                                <li><p>Linux/UNIX Admin</p></li>
                                <li><p>Database Design</p></li>
                            </ul>
                        </div>
                        <div class="lister rightList col-lg-6">
                            <ul>
                                <li><p>Frameworks</p></li>
                                <li><p>UI/UX Design</p></li>
                                <li><p>Analytics & Data</p></li>
                                <li><p>Strategic Planning</p></li>
                                <li><p>IT Support</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section secondSection" id="education">
    <div class="container">
        <div class="statement expStatement">
            <div class="row">
                <div class="statementMain col-lg-5">
                    <h2>Experience</h2>
                </div>
                <div class="statementDesc col-lg-7">
                    <div class="row">
                        {% if jobs|length > 0 %}
                            {% for job in jobs %}
                            <div class="box eduBox col-lg-4">
                                <h3>{{ job.job_title }}</h3>
                                <p>{{ job.job_location }}</p>
                                <p>{{ job.job_desc }}</p>
                                <h4>{{ job.job_date }}</h4>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="statement eduStatement">
            <div class="row">
                <div class="statementMain col-lg-5">
                    <h2>Education</h2>
                </div>
                <div class="statementDesc col-lg-7">
                    <div class="row">
                        <div class="box eduBox col-lg-4">
                            <h3>Western Governors University</h3>
                            <p>Bachelor of Science in Psychology</p>
                            <h4>Graduating: January 2025</h4>
                        </div>
                        <div class="box eduBox col-lg-4">
                            <h3>Cuyahoga Community College</h3>
                            <p>Associates of Arts</p>
                            <h4>Graduated: Jan 2021</h4>
                        </div>
                        <div class="box eduBox col-lg-4">
                            <h3>Lorain County Community College</h3>
                            <p>Software Development</p>
                            <p>Certificate</p>
                            <h4>Graduated: Dec 2022</h4>
                        </div>
                        <div class="box eduBox col-lg-4">
                            <h3>Lorain County Community College</h3>
                            <p>Web Programming</p>
                            <p>Certificate</p>
                            <h4>Graduated: May 2023</h4>
                        </div>
                        <div class="box eduBox col-lg-4">
                            <h3>Lorain County Community College</h3>
                            <p>Web Design</p>
                            <p>Certificate</p>
                            <h4>Graduated: May 2023</h4>
                        </div>                        
                        <div class="box eduBox col-lg-4">
                            <h3>Google</h3>
                            <p>Google IT Support</p>
                            <p>Certification</p>
                            <h4>Graduated: August 2022</h4>
                        </div>
                        <div class="box eduBox col-lg-4">
                            <h3>Meta</h3>
                            <p>Meta Backend Developer</p>
                            <p>Certification</p>
                            <h4>Graduated: January 2023</h4>
                        </div>
                        <div class="box eduBox col-lg-4">
                            <h3>Meta</h3>
                            <p>Meta Frontend Developer</p>
                            <p>Certification</p>
                            <h4>Graduated: January 2023</h4>
                        </div>
                        <div class="box eduBox col-lg-4">
                            <h3>Electronic Classroom of Tomorrow</h3>
                            <p>High School Diploma</p>
                            <h4>Graduated: 2017</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="statement">
            <div class="row">
                <div class="statementMain col-lg-5">
                    <h2>Languages</h2>
                </div>
                <div class="statementDesc col-lg-7">
                    <div class="row">
                        <div class="box langBox col-lg-4">
                            <h3>Python</h3>
                            <p>I've been able to create small applications using Python</p>
                            <h4>3 year experience</h4>
                        </div>
                        <div class="box langBox col-lg-4">
                            <h3>PHP</h3>
                            <p>This is the first language I learned. I've created many large-scale websites using PHP</p>
                            <h4>5 years experience</h4>
                        </div>
                        <div class="box langBox col-lg-4">
                            <h3>HTML/HTML5</h3>
                            <p>I've used this extensively to create skeletons of websites</p>
                            <h4>5 years experience</h4>
                        </div>
                        <div class="box langBox col-lg-4">
                            <h3>JavaScript</h3>
                            <p>I've created many web apps using JavaScript that were fun and interactive</p>
                            <h4>5 years experience</h4>
                        </div>
                        <div class="box langBox col-lg-4">
                            <h3>MySQL/SQL</h3>
                            <p>I have a love for MYSQL databases and I have expansive experience creating databases and managing then</p>
                            <h4>5 years experience</h4>
                        </div>
                        <div class="box langBox col-lg-4">
                            <h3>CSS/SCSS</h3>
                            <p>I've used CSS to create beautiful looking websites that people love using and looking at</p>
                            <h4>5 years experience</h4>
                        </div>
                        <div class="box langBox col-lg-4">
                            <h3>C#</h3>
                            <p>As a part of my curriculum I am currently learning C# and using it to build projects now.</p>
                            <h4>6 months experience</h4>
                        </div>
                        <div class="box langBox col-lg-4">
                            <h3>ReactJS / NextJS</h3>
                            <p>I've been able to create applications using the ReactJS library and NextJS framework</p>
                            <h4>4 years experience</h4>
                        </div>
                        <div class="box langBox col-lg-4">
                            <h3>Java</h3>
                            <p>During my school tenure ive been able to become proficient in Java</p>
                            <h4>1 year experience</h4>
                        </div>
                        <div class="box langBox col-lg-4">
                            <h3>Laravel</h3>
                            <p>I've been able to create applications using the Laravel framework</p>
                            <h4>5 years experience</h4>
                        </div>
                        <div class="box langBox col-lg-4">
                            <h3>Django</h3>
                            <p>I've been able to create applications using the Django framework</p>
                            <h4>4 years experience</h4>
                        </div>
                        <div class="box langbox col-lg-4">
                            <h3>WordPress</h3>
                            <p>I've been able to create websites using the WordPress CMS</p>
                            <h4>4 years experience</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section thirdSection" id="projects">
    <div class="container">
        <div class="statement">
            <div class="row">
                <div class="statementMain col-lg-5">
                    <h2>Projects</h2>
                </div>
                <div class="statementDesc col-lg-7">
                    <div class="row">
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://cardcrafty.com/">Card Crafty</a></h3>
                            <p>An easy to use flashcard making web app</p>
                            <h4>NextJS (React), HTML, CSS, JavaScript, Supabase</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://lattencreative.com/">Latten Creative, LLC</a></h3>
                            <p>My creative design studio based in Ohio</p>
                            <h4>NextJS (React), HTML, CSS, JavaScript</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://creativemsfts.com/">Creative MSFTS</a></h3>
                            <p>Creative MSFTS is a creative design studio - creating more than just interfaces</p>
                            <h4>NextJS (React), HTML, CSS, JavaScript</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://ama.org/">American Marketing Association</a></h3>
                            <p>The AMA is the premier marketing community in the US</p>
                            <h4>WordPress, Custom Theme, HTML, CSS, JavaScript</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://pyrtcreative.com/">Pyrt Creative</a></h3>
                            <p>Pyrt Creative is a new creative design agency based in Ohio</p>
                            <h4>ReactJS, HTML, CSS, JavaScript, API</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://lattenitsolutions.com/">Latten IT Solutions</a></h3>
                            <p>Latten IT Solutions is a full-service IT consultation company</p>
                            <h4>ReactJS, HTML, CSS, JavaScript, API</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://blairritchey.com/">Blair Ritchey</a></h3>
                            <p>A popular fashion designer based in Lakewood, Ohio</p>
                            <h4>Shopify, CSS, HTML, JavaScript</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://larryalesley.com/">Larry A Lesley</a></h3>
                            <p>A portfolio website created for a special client</p>
                            <h4>PHP, HTML, CSS, JavaScript, Laravel</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://saintpierre.world/">Saint Pierre</a></h3>
                            <p>Saint Pierre is a new and upcoming clothing brand based in Ohiot</p>
                            <h4>Shopify, HTML, CSS, JavaScript</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://jameslatten.com/">Personal Website</a></h3>
                            <p>This is my personal website where I showcase my talents and skills</p>
                            <h4>Django, Python, HTML, CSS, JavaScript, AWS EC</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://blog.jameslatten.com">Personal Blog</a></h3>
                            <p>This is my personal blog where I showcase my ideas and thoughts</p>
                            <h4>Django, Python, HTML, CSS, JavaScript, AWS EC</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section fourthSection" id="contact">
    <div class="container">
        <h1>So, are you ready to work on something great?</h1>
        <div class="contactOptions">
            <div class="row">
                <div class="contactOp col-lg-4">
                    <h3>Email Me:</h3>
                    <h4><a href="mailto:hello@jameslatten.com">hello@jameslatten.com</a></h4>
                </div>
                <div class="contactOp col-lg-4">
                    <h4>
                    <!-- Calendly link widget begin -->
                    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
                    <a style="text-decoration: underline;" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/jameslatten/initial-consultation'});return false;">Book an Appointment</a>
                    <!-- Calendly link widget end -->
                    </h4>
                </div>
                <div class="contactOp col-lg-4">
                    <h3>Call me:</h3>
                    <h4><a href="tel:2168897822">216.889.7822</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/jameslatten/initial-consultation', text: 'Book an Appointment', color: '#ffffff', textColor: '#1a1a1a', branding: undefined }); }</script>
<!-- Calendly badge widget end -->
{% endblock %}