{% extends "layout/base.html" %}
{% block content %}
{% load static %}

<div class="section firstSection">
    <div class="container">
        <img class="picture" src="{% static 'img/resume_picture.jpg' %}" />
        <h3 class="introduction">
            Hi, I'm James - Web developer, designer, writer, with a passion for writing code and serving the community
        </h3>
        <h4>I'm available for new projects, <a href="https://calendly.com/jameslatten/initial-consultation">schedule an appointment.</a> with me</h4>
        <div class="statement">
            <div class="row">
                <div class="statementMain col-lg-5">
                    <h2>My Mission</h2>
                </div>
                <div class="statementDesc col-lg-7">
                    <p>Create beautiful apps and websites that will change the world for the better. Give my customers a great experience and deliver amazing products to them. Also serve the community in any capacity I can, specifically as an EMT. I have a passion for helping others who are less fortunate than me. </p>
                </div>
            </div>
        </div>
        <div class="statement">
            <div class="row">
                <div class="statementMain col-lg-5">
                    <h2>Specialties</h2>
                </div>
                <div class="statementDesc col-lg-7">
                    <div class="descRows row">
                        <div class="lister leftList col-lg-6">
                            <ul>
                                <li><p>Full-stack Web Dev</p></li>
                                <li><p>Software Dev</p></li>
                                <li><p>Applications Dev</p></li>
                                <li><p>Linux/UNIX Admin</p></li>
                                <li><p>Database Design</p></li>
                            </ul>
                        </div>
                        <div class="lister rightList col-lg-6">
                            <ul>
                                <li><p>Frameworks</p></li>
                                <li><p>UI/UX Design</p></li>
                                <li><p>Analytics & Data</p></li>
                                <li><p>Strategic Planning</p></li>
                                <li><p>IT Support</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section secondSection" id="education">
    <div class="container">
        <div class="statement expStatement">
            <div class="row">
                <div class="statementMain col-lg-5">
                    <h2>Experience</h2>
                </div>
                <div class="statementDesc col-lg-7">
                    <div class="row">
                        {% if jobs|length > 0 %}
                            {% for job in jobs %}
                            <div class="box eduBox col-lg-4">
                                <h3>{{ job.job_title }}</h3>
                                <p>{{ job.job_location }}</p>
                                <p>{{ job.job_desc }}</p>
                                <h4>{{ job.job_date }}</h4>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="statement eduStatement">
            <div class="row">
                <div class="statementMain col-lg-5">
                    <h2>Education</h2>
                </div>
                <div class="statementDesc col-lg-7">
                    <div class="row">
                        <div class="box eduBox col-lg-4">
                            <h3>Electronic Classroom of Tomorrow</h3>
                            <p>High School Diploma</p>
                            <h4>Graduated: 2017</h4>
                        </div>
                        <div class="box eduBox col-lg-4">
                            <h3>Cuyahoga Community College</h3>
                            <p>Associates of Arts</p>
                            <h4>Graduated: Jan 2021</h4>
                        </div>
                        <div class="box eduBox col-lg-4">
                            <h3>Lorain County Community College</h3>
                            <p>Software Development</p>
                            <p>Certificate</p>
                            <h4>Graduated: Dec 2022</h4>
                        </div>
                        <div class="box eduBox col-lg-4">
                            <h3>Lorain County Community College</h3>
                            <p>Web Programming</p>
                            <p>Certificate</p>
                            <h4>Graduated: May 2023</h4>
                        </div>
                        <div class="box eduBox col-lg-4">
                            <h3>Lorain County Community College</h3>
                            <p>Web Design</p>
                            <p>Certificate</p>
                            <h4>Graduated: May 2023</h4>
                        </div>
                        <div class="box eduBox col-lg-4">
                            <h3>Lorain County Community College</h3>
                            <p>Software Development</p>
                            <p>Associates of Applied Business</p>
                            <h4>Graduating: Fall 2023</h4>
                        </div>
                        <div class="box eduBox col-lg-4">
                            <h3>Lorain County Community College</h3>
                            <p>Web Development</p>
                            <p>Associates of Applied Business</p>
                            <h4>Graduating: Fall 2023</h4>
                        </div>
                        <div class="box eduBox col-lg-4">
                            <h3>Google</h3>
                            <p>Google IT Support</p>
                            <p>Certification</p>
                            <h4>Graduated: August 2022</h4>
                        </div>
                        <div class="box eduBox col-lg-4">
                            <h3>Meta</h3>
                            <p>Meta Backend Developer</p>
                            <p>Certification</p>
                            <h4>Graduated: January 2023</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="statement">
            <div class="row">
                <div class="statementMain col-lg-5">
                    <h2>Languages</h2>
                </div>
                <div class="statementDesc col-lg-7">
                    <div class="row">
                        <div class="box langBox col-lg-4">
                            <h3>Python</h3>
                            <p>I've been able to create small applications using Python</p>
                            <h4>3 year experience</h4>
                        </div>
                        <div class="box langBox col-lg-4">
                            <h3>PHP</h3>
                            <p>This is the first language I learned. I've created many large-scale websites using PHP</p>
                            <h4>5 years experience</h4>
                        </div>
                        <div class="box langBox col-lg-4">
                            <h3>HTML/HTML5</h3>
                            <p>I've used this extensively to create skeletons of websites</p>
                            <h4>5 years experience</h4>
                        </div>
                        <div class="box langBox col-lg-4">
                            <h3>JavaScript</h3>
                            <p>I've created many web apps using JavaScript that were fun and interactive</p>
                            <h4>5 years experience</h4>
                        </div>
                        <div class="box langBox col-lg-4">
                            <h3>MySQL/SQL</h3>
                            <p>I have a love for MYSQL databases and I have expansive experience creating databases and managing then</p>
                            <h4>5 years experience</h4>
                        </div>
                        <div class="box langBox col-lg-4">
                            <h3>CSS/SCSS</h3>
                            <p>I've used CSS to create beautiful looking websites that people love using and looking at</p>
                            <h4>5 years experience</h4>
                        </div>
                        <div class="box langBox col-lg-4">
                            <h3>C#</h3>
                            <p>As a part of my curriculum I am currently learning C# and using it to build projects now.</p>
                            <h4>6 months experience</h4>
                        </div>
                        <div class="box langBox col-lg-4">
                            <h3>ReactJS / NextJS</h3>
                            <p>I've been able to create applications using the ReactJS library and NextJS framework</p>
                            <h4>2 year experience</h4>
                        </div>
                        <div class="box langBox col-lg-4">
                            <h3>Laravel</h3>
                            <p>I've been able to create applications using the Laravel framework</p>
                            <h4>5 year experience</h4>
                        </div>
                        <div class="box langBox col-lg-4">
                            <h3>Django</h3>
                            <p>I've been able to create applications using the Django framework</p>
                            <h4>4 year experience</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section thirdSection" id="projects">
    <div class="container">
        <div class="statement">
            <div class="row">
                <div class="statementMain col-lg-5">
                    <h2>Projects</h2>
                </div>
                <div class="statementDesc col-lg-7">
                    <div class="row">
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://simplytodos.com/">Simply Todos</a></h3>
                            <p>Simply Todos is a very simple todo list web app</p>
                            <h4>Laravel, HTML5, CSS, JS, API, Strapi</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://lnkrr.com/">Lnkrr</a></h3>
                            <p>Lnkrr allows you to create one link for all of your links!</p>
                            <h4>Laravel, HTML5, CSS, JS, API</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://jotlin.com/">Jotlin</a></h3>
                            <p>Jotlin is a free to use note taking app built using ReactJS</p>
                            <h4>React.js, HTML5, CSS, JS, API, Strapi</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://ama.org/">American Marketing Association</a></h3>
                            <p>The AMA is the premier marketing community in the US</p>
                            <h4>WordPress, Custom Theme, HTML5, CSS, JS</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://phntmlabs.com/">PHNTM Labs</a></h3>
                            <p>PHNTM Labs is a creative videography agency that specializes in film creation!</p>
                            <h4>WordPress, Custom Theme, HTML5, CSS, JS</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://blairritchey.com/">Blair Ritchey</a></h3>
                            <p>A popular fashion designer based in Lakewood, Ohio</p>
                            <h4>Shopify, CSS, HTML5, JS</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://larryalesley.com/">Larry A Lesley</a></h3>
                            <p>A portfolio website created for a special client</p>
                            <h4>PHP, HTML5, CSS, JS, Laravel</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://larryalesley.com/">Saint Pierre</a></h3>
                            <p>Saint Pierre is a new and upcoming clothing brand based in Ohiot</p>
                            <h4>Shopify, HTML5, CSS, JS</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://lattentechnologies.com/">Latten Technologies, LLC</a></h3>
                            <p>My upcoming technology firm that will be the forefront of two smaller businesses</p>
                            <h4>Django, Python, HTML5, CSS, JS, AWS EC</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://lattentechnologies.com/">Latten Creative, LLC</a></h3>
                            <p>My creative design studio based in Ohio</p>
                            <h4>React.js, HTML5, CSS, JS</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://jameslatten.com/">Personal Website</a></h3>
                            <p>This is my personal website where I showcase my talents and skills</p>
                            <h4>Django, Python, HTML5, CSS, JS, AWS EC</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://jameslatten.com/blog">Personal Blog</a></h3>
                            <p>This is my personal blog where I showcase my ideas and thoughts</p>
                            <h4>Django, Python, HTML5, CSS, JS, AWS EC</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://kronicals.com/">Kronicals</a></h3>
                            <p>A community where aspiring poets can find their voice</p>
                            <h4>PHP, JS, HTML5, CSS, Laravel, Bootstrap</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://mutterly.com/">Mutterly</a></h3>
                            <p>I created this platform for people to be able to express their thoughts and fears anonymously</p>
                            <h4>PHP, JS, HTML5, CSS, Laravel, Bootstrap</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://jayeaesthetic.com/">Jaye Aesthetic</a></h3>
                            <p>A place where my poetry can be heard and shared with the world</p>
                            <h4>HTML, CSS, JavaScript, Gatsby</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://jayscarcleaning.com/">Jay's Car Cleaning</a></h3>
                            <p>My small car cleaning business that I run part-time</p>
                            <h4>HTML, CSS, JavaScript, SquareSpace</h4>
                        </div>
                        <div class="box projBox col-lg-6">
                            <h3><a href="https://sitelyftstudios.com/">Sitelyft Studios, LLC</a></h3>
                            <p>My web development agency thats based virtually in Ohio</p>
                            <h4>PHP, JS, HTML, Laravel</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section fourthSection" id="contact">
    <div class="container">
        <h1>So, are you ready to work on something great?</h1>
        <div class="contactOptions">
            <div class="row">
                <div class="contactOp col-lg-4">
                    <h3>Email Me:</h3>
                    <h4><a href="mailto:hello@jameslatten.com">hello@jameslatten.com</a></h4>
                </div>
                <div class="contactOp col-lg-4">
                    <h4>
                    <!-- Calendly link widget begin -->
                    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
                    <a style="text-decoration: underline;" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/jameslatten/initial-consultation'});return false;">Book an Appointment</a>
                    <!-- Calendly link widget end -->
                    </h4>
                </div>
                <div class="contactOp col-lg-4">
                    <h3>Call me:</h3>
                    <h4><a href="tel:4402134860">440.213.4860</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/jameslatten/initial-consultation', text: 'Book an Appointment', color: '#ffffff', textColor: '#1a1a1a', branding: undefined }); }</script>
<!-- Calendly badge widget end -->
{% endblock %}